body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #4a4a4a;
	margin: 0;
	font-family: sans-serif;
	font-weight: normal;
}
a:hover, button:hover, #secondOption:hover{
	opacity: .5;
}
section{
	width: 80vw;
	margin-left: 10vw;
	color: #4a4a4a;
}
.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.blueText{
	color: #1CA5AF;
}
.separator{
	color: #979797;
}
#topMenu{
	height: 22px;
	font-size: 1vw;
	margin-bottom: 1vw;
}
#promoMessage{
	height: 100%;
}
#pageSetting{
	width: 10vw;
}
#currencyDropdown, #dropbtn, #secondOption{
	width: 20px;
	height: 20px;
	background-size: contain;
}
/*#secondOption{
	display: none;
	margin: 0;
	padding: 0;
}*/
.polishPLN{
	background: url("polishFlag.svg") no-repeat;
}
.britishGBP{
	background: url("britishFlag.svg") no-repeat;
}
/*#currencyDropdown:hover #secondOption{
 	display: block;
}*/
#logo{
	height: 5vw;
	max-height: 60px;
	background: url("logo.svg") no-repeat;
	background-size: contain;
	background-position: center center;
	margin-bottom: 1vw;
}
.logoHome{
	width: 100%;
	height: 100%;
}
#bottomSection{
	width: 100%;
	height: 3.6vw;
	left: 0;
}
#bottomSection::before, #bottomSection::after{
	display: block;
	content: "";
	width: 100vw;
	height: 1px;
	background-color: #979797;
	left: 0;
}
#mainMenu{
	height: 3.6vw;
	top: -1px;
}
#leftPart{
	min-width: 44vw;
	height: 3.6vw;
	top: -1px;
	font-size: 1vw;
	overflow: hidden;
	background-color: transparent;
}
.cateMenu{
	overflow: hidden;
}

.cateTitle, .separator{
	height: 3.6vw;
	line-height: 3.6vw;
}
.dropdownContent{
	display: none;
	position: absolute;
	width: 100vw;
	left: 0;
	right: 0;
	margin-top: -1px;
	background-color: #fff;
}
.horLine{
	width: 100vw;
	height: 2px;
	left: 0;
	background-color: #979797;
}
.dropdownList{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(17vw, 1fr));
	justify-content: stretch;
	grid-column-gap: 1vw;
	grid-row-gap: .1vw;
	padding: 1vw 10vw 1vw 10vw;
	z-index: 1;
}
#fictionMenu:hover .dropdownContent, #nonfictionMenu:hover .dropdownContent, #childrenMenu:hover .dropdownContent, #educationMenu:hover .dropdownContent{
	display: block;
}
#fictionMenu:hover .cateTitle, #nonfictionMenu:hover .cateTitle, #childrenMenu:hover .cateTitle, #educationMenu:hover .cateTitle{
	opacity: .5;
}
#rightPart{
	width: 30vw;
}
#searchBar{
	width: 20vw;
	height: 1.2vw;
	border: 1px solid #979797;
	border-radius: 3px;
	padding: .2vw;
}
#searchForm{
	width: 100%;
	height: 100%
}
#searchInput, #searchButton{
	border:	none;
}
#searchInput{
	width: 18vw;
	color: #979797;
	font-size: 1vw;
	line-height: 1vw;
}
#searchButton{
	width: 1.2vw;
	height: 1.2vw;
	background-image: url("search.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
}
#userAccount, #wishList, #basket{
	max-height: 20px;
	max-width: 23px;
	height: 2vw;
	width: 2vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
#userAccount{
	background-image: url("account.svg");
}
#wishList{
	background-image: url("heart.svg");
}
#basket{
	background-image: url("basket.svg");
	font-size: .7vw;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 2vw;
}